<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='maininterface.css') }}">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <title>Main interface</title>
    </head>

    <body>
        <h1>Virtual Trading Simulator</h1>
        <div class="container">
            <div id="stock-search" style="margin-top: 5%;">
                <h2>Stock Search</h2>
                <input type="text" id="stock-symbol" placeholder="Enter stock symbol">
                <button onclick="searchStock()" id="search-button">Search</button>
                <p id="stock-search-results"></p>
            </div>

            <div style="width: 100%;">
                <h2>Balance</h2>
                <div id="balance-container">
                    Your Balance is:
                    <label for="" id="balance-display">{{balance}}</label>
                </div>
                <form action="{{url_for('balance_update', username=username)}}" method="post">
                <div style="margin-top: 3%;">
                    <label for="balance-input">Enter amount:</label>
                  <input type="number" id="balance-input" name="balance" required>
                </div>

                <br>
            
                <button id="balance-withdraw" type="submit" name="action" value="deposit">Deposit</button> <button id="balance-deposit" name="action" type="submit" value="withdraw">Withdraw</button>
                {% if message_balanceupdate :%}
                <p>{{message_balanceupdate}}</p>
                {% endif %}    
                </form>
                
            </div>

            <div id="portfolio" style="margin-top: 3%;">
                <h2>My Portfolio</h2>
                <table id="portfolio-table">
                    <thead>
                        <tr>
                            <th>Stock ID</th>
                            <th>Company Name</th>
                            <th>Quantity</th>
                            <th>Stock Value</th>
                            <th>Average Buy Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in portfolio %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
                <p id="portfolio-value"></p>
                
            </div>

            <div id="transaction-history" style="margin-top: 5%;">
                <h2>Transaction History</h2>
                <table id = "portfolio-table">
                    <thead>
                      <tr>
                        <th>Transaction ID</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>Transaction Date</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                          <tr>
                            <td>{{ transaction[1] }}</td>
                            <td>{{ transaction[2] }}</td>
                            <td>{{ transaction[4] }}</td>
                            <td>{{ transaction[5] }}</td>
                            <td>{{ transaction[3] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
            </div>

            <div id="buy-sell-form" style="margin-top: 3%;">
                <h2>Buy/Sell Stocks</h2>
                
                <form action="{{url_for('dashboard', username=username)}}" method="post">
                    <input type="text" id="stock-input" name="stock_input" required>
                    <button type="submit" id="search-stock" name="action" value="search">Search</button>
                    
                    <input type="number" id="order-quantity" placeholder="Quantity" name="order_quantity">
                    <!-- <select id="transaction-type">
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                    </select> -->
                    <button type="submit" id="buy-stock" name="action" value="buy">Buy</button>
                    <button type="submit" id="sell-stock" name="action" value="sell">Sell</button>
                </form>
                {% if message :%}
                <div>
                <p>{{message}}</p>
                </div>
                {% endif %}
                <table id="portfolio-table" style='margin-top:1%'>
                    <thead>
                      <tr>
                        <th>Stock Symbol</th>
                        <th>Stock Name</th>
                        <th>Current Price</th>
                        <th>Quantity Available</th>
                      </tr>
                    </thead>
                    <tbody>
              
                      {% if search_results %}
                      {% for result in search_results %}
                      <tr>
                        <td>{{ result.symbol }}</td>
                        <td>{{ result.name }}</td>
                        <td>{{ result.price }}</td>
                        <td>{{ result.quantity }}</td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                
                <p id="transaction-error"></p>
            </div>
        </div>

    </body>

</html>